.section {
 background: burlywood;
 font-size: 22px;
 font-style: italic;
}
 .style1 {
 font-size: 25px;
  /*text-decoration: underline;*/
 }

 .books
 {
  width: 80%;
  font-size: 25px;
  border: 1px solid;
  text-align-all: left;
 }

